body {
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

section {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 65px;
}

h1 {
    margin: 0;
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;
}

h2 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    color: #533738;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #533738;
}

a {
    text-decoration: none;
    color: #533738;
}

ul {
    list-style: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

header {
    margin: 0 auto;
    margin-bottom: 65px;
    padding-top: 36px;
    padding-left: 99px;
    max-width: 1400px;
    min-height: 715px;
    background: url('img/header.jpg') no-repeat;
    color: #533738;
}

.header-top {
    align-items: center;
    margin-bottom: 91px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.header-top .logo {
    display: flex;
    align-items: center;
}

nav {
    width: 840px;
    margin-right: 41px;
}

nav ul {
    justify-content: space-between;
}

nav a:hover {
    text-shadow: 0 0 10px;
    font-weight: 500;
}

.header-main {
    width: 534px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 309px;
    height: 74px;
    background-color: #CC8B86;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
}

.button:hover {
    font-weight: 600;
    box-shadow: 5px 5px 10px #85322C;
}

#about-us .flex-container {
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 182px;
    padding-right: 182px;
}

#about-us > .flex-container {
    margin-bottom: 21px;
}

#about-us .about-text p:first-child {
    margin-top: 0;
}

#about-us img {
    margin-right: 62px;
}

.about-text {
    max-width: 528px;
}

#about-us .about-us {
    min-height: 273px;
    background-color: #8D7370;
    padding-top: 85px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: white;
}

.about-us span.number {
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;
}

.about-us li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 81px;
}

#portfolio {
    padding: 0 100px;
}

#portfolio h2 {
    text-align: left;
}

#portfolio a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

#portfolio a span {
    margin-right: 10px;
}

#portfolio a:hover {
    text-shadow: 0 0 10px;
}

#portfolio a:hover img {
    filter: drop-shadow(0px 0px 5px);
}

#portfolio .flex-container {
    gap: 30px 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#portfolio .portfolio-item {
    position: relative
}

.portfolio-item .portfolio-item-info {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 451px;
    background: url('img/filter.png') no-repeat;
    background-size: cover;
    color: white;
    z-index: 100;
}

.portfolio-item:hover > .portfolio-item-info {
    display: block;
}

.portfolio-item-info h3 {
    text-align: center;
    width: 270px;
    margin: 0 auto;
    margin-top: 86px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.portfolio-item-info p {
    display: block;
    padding: 0 35px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: white;
}

section.team-works {
    background-color: #E2C4BA;
    padding-top: 50px;
    padding-bottom: 80px;
}

#team .flex-container {
    padding-left: 181px;
    padding-right: 182px;
    margin: 0 auto 35px auto;
    justify-content: space-between;
}

#team .team-item {
    width: 320px;
}

#how-we-works .flex-container {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    justify-content: space-between;
}

#how-we-works .work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
    text-align: center;
}

.work-item .work-item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #8D7370;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: white;
}

#reviews {
    padding-left: 182px;
    padding-right: 182px;
}

#reviews > .flex-container {
    margin: 0 auto;
    align-items: center;
}

#reviews .carousel-arrow {
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #CC8B86;
    cursor: pointer;
}

.arrow-left {
    background: url('img/arrow-left.png') no-repeat 50% 50%;
    margin-right: 29px;
}

.arrow-right {
    background: url('img/arrow-right.png') no-repeat 50% 50%;
    margin-left: 29px;
}

#reviews .carousel-items.flex-container {
    width: 834px;
    height: 568px;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
}
#reviews .carousel-inner {
    width: 100%;
    min-width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease;
    display: flex;
    flex-direction: row;
}

#reviews .review-item.flex-container {
    width: 100%;
    min-width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    margin: 0 auto;
    position: relative;
}

.review-item .review-text {
    max-width: 407px;
    margin-right: 20px;
    align-self: center;
}

.review-text .review-author {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #533738;
    text-transform: uppercase;
}

.review-item .review-photo {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#submit-app {
    padding-left: 182px;
    background-color: #8D7370;
    margin-bottom: 0;
}

#submit-app h2 {
    margin-bottom: 24px;
    text-align: left;
    color: white;
}

#submit-app p {
    color: white;
}

#submit-app .container {
    max-width: 508px;
    margin-top: 50px;
    margin-right: 20px;
}

input[type="text"],
input[type="tel"] {
    width: 508px;
    margin-bottom: 31px;
    padding-top: 4px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: white;
    background-color: #8D7370;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder {
    color: white;
}

input[type="text"]:focus,
input[type="tel"]:focus {
    padding-left: 10px;
    font-size: 16px;
    border-bottom: 2px solid white;
}

input[type="submit"] {
    margin-bottom: 20px;
    border: none;
}

footer {
    padding-left: 100px;
    padding-right: 100px;
}

footer .flex-container {
    margin: 0 auto;
    padding: 37px 0;
    justify-content: space-between;
}

footer .tel {
    margin-right: 42px;
}